{% extends 'master.html' %}
{% block content %}

<h2>Add Room</h2>

<form method="POST"> 
    {% csrf_token %}
    
    <label>Room Number</label>
    <input type="text" class="form-control" name="room_number" required>

    <label>Room Type</label>
    <select class="form-control" name="room_type">
        <option>Single</option>
        <option>Double</option>
        <option>Triple</option>
        <option>AC</option>
        <option>Non-AC</option>
    </select>

    <label>Capacity</label>
    <input type="number" class="form-control" name="capacity" required>

    <button class="btn btn-success mt-3">Save</button>
</form>

{% endblock %}
